body {
    margin: 0;
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

h1 {
    margin: 0;
}

#display {
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(205, 255, 255);
    width: 400px;
    height: 100px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#score {
    display: flex;
    flex-direction: column;
    justify-self: start;
}

#restart {
    display: none;
}